html {
    height: 100%;
    margin: 0;
}

div {
    float: left;
}

body {
    height: 100%;
    background-color: white;
    margin: 0;
}

h1 {
    color: red;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
}

p {
    font-family: 'Oswald', sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

input{
    font-weight: 200;
    font-size: 100%;
    letter-spacing: 1px;
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 4px;

}

form{
    font-family: 'Oswald', sans-serif;
}

.menu {
    position: relative;
    border-right: 1px solid lightgrey;
    background: white;
    object-fit: contain;
    min-height: 100vh;
    width: 20.5%;
    margin: 0;
}

.menu table {
    max-width: 100%;
    min-width: 100%;
    margin: 0;
}

.menu table td {
    font-family: 'Oswald', sans-serif;
    font-size: larger;
    text-align: left;
    padding: 10px 0px 10px 50px;
    border-bottom: 1px solid lightgrey;
}

.menu table td:hover {
    color: white;
    background-color: darkred;
}

#logo {
    padding: 10px;
    text-align: center;
}

#logo:hover {
    background-color: white;
}

#logo img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-div {
    height: 100%;
    width: 79%;
}

.background-image {

    position: fixed;
    opacity: 0.9;
    width: 100%;
    height: 100%;
}

.text-column {
    position: absolute;
    top: 0;
    padding: 0px 30px 30px 30px;
    margin: 0;
    background-color: white;
    opacity: 0.85;
    min-height: 100%;
    max-height: fit-content;
    width: 20%;
}

.whatsapp {

    width: 5%;
    margin: 20px;
    margin-left: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.gif-text {
    position: relative;
    top: 20vh;

}

.gif-text h1 {
    text-align: center;
    color: black;
    margin: 30px;
    font-weight: 700;
    font-size: 350%;
}

button{
    width : 22%;
    height: 30px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    font-size: 17px;
}
